<div class="wrapper">
    <div class="login">
        <div *ngIf="loginError">
            <div class="loginError">
                <p>{{loginError}}</p>
            </div>
        </div>
        <h2>Please, log-in:</h2>
        <div class="input">
            <p>Login:</p>
            <input [(ngModel)]="login" type="text" placeholder="your login">
            <p>Password:</p>
            <input [(ngModel)]="password" type="password" placeholder="password">
        </div>
        <button class="button" (click)="logginIn()" [disabled]="!login || !password">Log-in</button>
        <br>
    </div>
</div>